fieldset {
  padding: 1rem 2rem 2rem;
  background: var(--north-carolina-blue);
  // box-shadow: 0 10px 30px var(--carolina-blue);
  border-radius: 2rem;
  border: 7px solid var(--french-blue);
}

.question {
  min-height: 4.2em;
}

.answer-list {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1rem;
}

.answer {
  --answer-color: var(--sand);
  --answer-border: var(--star-yellow);

  padding: 1rem;
  display: block;
  cursor: pointer;
  position: relative;

  font-size: 1.5rem;
  text-align: center;
  border: 4px solid var(--answer-border);
  background-color: var(--answer-color);
  transition: border 0.1s, background-color 0.1s;
}

.answer:disabled {
  color: var(--indigo-dye);
}

.correct {
  --answer-border: var(--pine);
  --answer-color: var(--light-pine);
}

.guessed::after {
  font-size: 2rem;
  position: absolute;
  height: 100%;
  right: 0.6rem;
  top: 0;
  display: grid;
  align-items: center;
  color: var(--pine);
}

.guessed.correct::after {
  content: '✔';
}

.guessed.incorrect::after {
  content: '✔';
}

.incorrect {
  --answer-border: var(--copper-crayola);
  --answer-color: var(--coral);
}

// Houdini timer
@property --timer {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.question-block {
  animation: minuteTimer 60s infinite linear forwards;
  padding: 1rem;
  border-radius: 3rem;
  background: linear-gradient(to right, var(--star-yellow) var(--timer), var(--sand) var(--timer), var(--sand));
}

@keyframes minuteTimer {
  from {
    --timer: 0%;
  }
  to {
    --timer: 100%;
  }
}

@media (max-width: 500px) {
  .answer-list {
    grid-template: 1fr / 1fr;
  }

  .question-block {
    padding: 0.5rem;
    border-radius: 2.5rem;
  }

  fieldset {
    padding: 1rem;
  }
}