fieldset {
  padding: 1rem 2rem 2rem;
  background: var(--north-carolina-blue);
  border-radius: 2rem;
  border: 7px solid var(--french-blue);
}

.timer {
  font-size: 2rem;
  text-align: center;
}

.timer span {
  font-family: var(--font-header);
  width: 2ch;
  display: inline-block;
  color: var(--french-blue);
  vertical-align: middle;
}

.question {
  min-height: 4.2em;
}

.answer-list {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1rem;
}

.answer {
  --answer-color: var(--sand);
  --answer-border: var(--star-yellow);

  padding: 0 1rem;
  height: 5rem;
  display: block;
  cursor: pointer;
  position: relative;

  font-size: 1.5rem;
  text-align: center;
  border: 4px solid var(--answer-border);
  background-color: var(--answer-color);
  transition: border 0.1s, background-color 0.1s;
}

.answer:disabled {
  color: var(--indigo-dye);
}

.correct {
  --answer-border: var(--pine);
  --answer-color: var(--light-pine);
}

.guessed::after {
  font-size: 2rem;
  position: absolute;
  height: 100%;
  right: 0.6rem;
  top: 0;
  display: grid;
  align-items: center;
  color: var(--pine);
}

.guessed.correct::after {
  content: '✔';
}

.guessed.incorrect::after {
  content: '❌';
}

.incorrect {
  --answer-border: var(--copper-crayola);
  --answer-color: var(--coral);
}

// Houdini timer
@property --timer {
  syntax: '<string>';
  inherits: false;
  initial-value: '100%';
}

.question-block {
  padding: 1rem;
  border-radius: 3rem;
  background: var(--sand);
  background: linear-gradient(to left, var(--star-yellow) var(--timer), var(--sand) var(--timer), var(--sand));
}

.answer:not(:disabled):hover,
.answer:not(:disabled):focus {
  border-color: var(--copper-crayola);
  background: var(--star-yellow);
}

@media (max-width: 500px) {
  .answer-list {
    grid-template: 1fr / 1fr;
  }

  .question-block {
    padding: 0.5rem;
    border-radius: 2.5rem;
  }

  fieldset {
    padding: 1rem;
  }

  .question {
    margin-top: 0;
    font-size: 1.2rem;
    min-height: 5.6em;
  }

  .answer {
    height: 3.5rem;
    font-size: 1.25rem;
  }

  .timer {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
  }
}
