.header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  align-items: center;
}

.edition {
  background-color: var(--star-yellow);
}

.about-btn {
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
}

.logo {
  display: inline-block;
  max-width: 350px;
  width: 100%;
  aspect-ratio: auto 350 / 137;
}

@media (max-width: 500px) {
  .logo {
    max-width: 200px;
  }

  .about-btn {
    height: 40px;
  }
}

@media (min-width: 800px) {
  .header {
    width: 800px;
  }
}

@media (prefers-color-scheme: dark) {
  .about-btn {
    filter: invert(1);
  }
}