.header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 2rem;
}

.about-btn {
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
}

.logo {
  max-width: 350px;
  width: 100%;
}

@media (max-width: 500px) {
  .header {
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 0;
  }

  .about-btn {
    display: none;
  }

  .timer {
    text-align: center;
  }
}