.response {
    background: var(--answer-color);
    border: 2px solid var(--answer-border);
    padding: 0.5rem 1rem;
    line-height: 1;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.response a {
    color: var(--indigo-dye);
}

.result-header {
    background: var(--star-yellow);
    font-size: 2.5rem;
    padding: 0 0.25em;
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

.result-subhead {
    color: var(--indigo-dye);
    font-size: 1.25rem;
    margin: 3rem 0;
    max-width: 42ch;
}

.result-subhead span {
    background: var(--star-yellow);
    color: black;
    padding: 0 0.25em;
}

.responses {
    margin-top: 2rem;
    font-family: var(--font-header);
}

.result-q {
    font-weight: 500;
    font-size: 1rem;
}

.result-a {
    font-size: 1.25rem;
    text-align: right;
}

.share-button {
    vertical-align: middle;
    display: inline-grid;
    gap: 0.5rem;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    background: var(--north-carolina-blue);
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    text-decoration: none;
    font-family: var(--font-header);
    color: var(--indigo-dye);
    transition: background-color 0.25s, color 0.25s;
    width: auto;
    margin: 0 auto;
}

.share-button p {
    line-height: 0;
    margin: 0;
}

.share-button:hover,
.share-button:focus {
    background-color: var(--indigo-dye);
    color: white;
}

.result-block {
    border: 20px solid var(--french-blue);
    padding: 3rem;
    text-align: center;
    justify-content: center;
    display: grid;
    margin: 2rem;
}

@media (max-width: 500px) {
    .response {
        border-width: 1px;
    }
    .result-header {
        font-size: 2rem;
    }

    .result-subhead {
        font-size: 1rem;
        margin: 2rem 0;
    }

    .result-block {
        padding: 1.5rem;
        margin: 1rem 0;
    }
    
    .result-q,
    .result-a {
        font-weight: 500;
        font-size: 0.9rem;
    }

    .result-a {
        margin-bottom: 0.5rem;
    }

    .share-button p {
        font-size: 1rem;
    }
}