:root {
  --carolina-blue: #a0b2df;
  --north-carolina-blue: #cbdfff;
  --french-blue: #4487f5;
  --go-go-green: #0f9d59;
  --star-yellow: #ffb900;
  --pomegranate: #ea4628;

  --light-gray: #e6e6ea;
  --ghost-white: #f4f4f8;
  --oxford-blue: #031d44;
  --indigo-dye: #04395e;

  --pine: #70a288;
  --light-pine: #d5eade;
  --burlywood: #dab785;
  --sand: #ffeec2;
  --copper-crayola: #d5896f;
  --coral: #ffdbdb;
}