// TODO: Commented out because it was importing badly, added to template.html
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

:root {
  --font-base: system-ui, sans-serif;
  --font-header: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-base);
}

h1, h2 {
  font-family: var(--font-header);
  font-weight: 800;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

a {
  color: var(--french-blue);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--oxford-blue);
    color: var(--ghost-white);
  }

  a {
    color: var(--north-carolina-blue)
  }

  code {
    color: var(--oxford-blue);
  }
}
